{% extends 'base.html.twig' %}


{% block title %}Wild Series
{% endblock %}

{% block body %}
	{% include('_navbar.html.twig') %}
	<h1>{{ website }}
		index</h1>
	<a class="link" href="/">Take it back now y'all!</a>
	<img src="{{ asset('build/images/brit.png') }}" alt="ACME logo"/>
{% endblock %}
